In [1]:
import pandas as pd
import numpy as np

In [40]:
dfp = pd.read_csv('../../data/preprocessed/stock_prices_train.csv')
df = pd.read_csv('../../data/train_files/stock_prices.csv')

In [45]:
dfp.head()

,RowId,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,...,volatility_5days,return_10days,ema_10days,volatility_10days,return_30days,ema_30days,volatility_30days,return_60days,ema_60days,volatility_60days
0,20170104_1301,1301,2734.0,2755.0,2730.0,2742.0,31400,1.0,NaN,False,...,NaN,NaN,2742.000000,NaN,NaN,2742.000000,NaN,NaN,2742.000000,NaN
1,20170105_1301,1301,2743.0,2747.0,2735.0,2738.0,17900,1.0,NaN,False,...,NaN,NaN,2741.272727,NaN,NaN,2741.741935,NaN,NaN,2741.868852,NaN
2,20170106_1301,1301,2734.0,2744.0,2720.0,2740.0,19900,1.0,NaN,False,...,NaN,NaN,2741.041322,NaN,NaN,2741.629553,NaN,NaN,2741.807579,NaN
3,20170110_1301,1301,2745.0,2754.0,2735.0,2748.0,24200,1.0,NaN,False,...,NaN,NaN,2742.306536,NaN,NaN,2742.040549,NaN,NaN,2742.010609,NaN
4,20170111_1301,1301,2748.0,2752.0,2737.0,2745.0,9300,1.0,NaN,False,...,NaN,NaN,2742.796257,NaN,NaN,2742.231481,NaN,NaN,2742.108622,NaN

In [46]:
df

,RowId,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target
0,20170104_1301,2017-01-04,1301,2734.0,2755.0,2730.0,2742.0,31400,1.0,NaN,False,0.000730
1,20170104_1332,2017-01-04,1332,568.0,576.0,563.0,571.0,2798500,1.0,NaN,False,0.012324
2,20170104_1333,2017-01-04,1333,3150.0,3210.0,3140.0,3210.0,270800,1.0,NaN,False,0.006154
3,20170104_1376,2017-01-04,1376,1510.0,1550.0,1510.0,1550.0,11300,1.0,NaN,False,0.011053
4,20170104_1377,2017-01-04,1377,3270.0,3350.0,3270.0,3330.0,150800,1.0,NaN,False,0.003026
...,...,...,...,...,...,...,...,...,...,...,...,...
2332526,20211203_9990,2021-12-03,9990,514.0,528.0,513.0,528.0,44200,1.0,NaN,False,0.034816
2332527,20211203_9991,2021-12-03,9991,782.0,794.0,782.0,794.0,35900,1.0,NaN,False,0.025478
2332528,20211203_9993,2021-12-03,9993,1690.0,1690.0,1645.0,1645.0,7200,1.0,NaN,False,-0.004302
2332529,20211203_9994,2021-12-03,9994,2388.0,2396.0,2380.0,2389.0,6500,1.0,NaN,False,0.009098
2332530,20211203_9997,2021-12-03,9997,690.0,711.0,686.0,696.0,381100,1.0,NaN,False,0.018414

In [14]:
stock_list = pd.read_csv('../../data/stock_list.csv')

stock_list["Sector"] = [s.rstrip().lower().capitalize() for s in stock_list['17SectorName']]
stock_list["Capitalization"] = (stock_list['MarketCapitalization'] - stock_list['MarketCapitalization'].mean()) / stock_list['MarketCapitalization'].std()
stock_list["Shares"] = (stock_list['NumberOfShares'] - stock_list['NumberOfShares'].mean()) / stock_list['NumberOfShares'].std()